  html {
  background: url(../img/erangel.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  }

  h1{
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 72px;
    font-family: impact, fantasy, sans-serif, overpass, georgia, arial;
    color: #F3EA19;
  }

  div{
    border: 4px solid #000000;
    border-radius: 15px 50px;
    background-color: rgba(158, 115, 76, 0.85);
    background-size: 100%;
    background-size: 40px auto;
    margin-left: 80px;
    padding: 20px;
    width: 88%;
    height: 70%;
  }

  p{
    font-size: 18px;
    font: courier, verdana, arial;

  }

  #telephone{
    color: #FFFFFF;
    font-size: 48px;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
  }

  #bold{
    color: #F80000;
    font-size: 32px;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
  }

  br{
    display: block;
    margin: 10px 0;
  }
