br {
  display: block;
  margin: 40px 0;
  line-height:22px;
}

p {
  text-align: center;
}

a {
  height: 30px;
  width: 30px;
}

a.l1 {
  display: block;
}

a.l2 {
  display: inline;
}

a.l3 {
  display: inline-inline-block;
}

#p1 {
  font-family: arial;
  font-variant: normal;
  font-style: normal;
  color: #223200
  width: 20px;
}

#p2 {
  font-family: verdana;
  font-variant: small-caps;
  font-style: normal;
  color: #1200A2;
  width: 20px;
}

#p3 {
  font-family: georgia;
  font-variant: normal;
  font-style: italic;
  color: #B21800;
  width: 30px;
}

#p4 {
  font-family: fantasy;
  font-variant: inherit;
  font-style: normal;
  color: #003B00;
  width: 30px;
}

#p5 {
  font-family: sans-serif;
  font-variant: normal;
  font-style: oblique;
  color: #223200;
  width: 30px;
}

#p6 {
  font-family: tahoma;
  font-variant: normal;
  font-style: normal;
  color: #B26C11;
  width: 30px;
}

#p7 {
  font-family: comic;
  font-variant:comic normal;
  font-style: normal;
  color: #92B3FF;
  width: 30px;
}

#p8 {
  font-family: monospace;
  font-variant: normal;
  font-style: italic;
  color: #92B3FF;
  width: 30px;
}

#p9 {
  font-family: serif;
  font-variant: inherit;
  font-style: italic;
  color: #00FF3B;
  width: 30px;
}

img.kaz {
  float: left;
}

img.small {
  float: right;
}
