html {
background: url(../img/cipherbg.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-font-smoothing: antialiased !important;
text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

table, td, th{
  background-color: #FFFFFF;
  margin: auto;
  border:1px solid;
  padding: 10px;
  text-align: center;
}

#membershiptb{
  font-family: "Verdana";
}

header{
  background-color: rgba(44, 66, 0, 0.85);
  border-radius: 15px / 50px;
}

nav{
  text-align: center;
  border-radius: 25px;
  border: 4px solid #000000;
  background-color: #000000;
  background-size: 100%;
  background-size: 40px auto;
  margin-left: 80px;
  padding: 20px;
  width: 88%;
  height: 70%;
}

h1, h1 span{
  text-align: center;
  font-size: 48px;
  font-family: helvetica, impact, fantasy, sans-serif, overpass, georgia, arial;
  color: #4F0000;
}

h2{
  text-align: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 48px;
  font-family: helvetica;
  color: #FFFFFF;
}

a:link, a:visited{
  color: #3C4F11;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a:hover {
  color: #F37B00;
}

section{
  border: 4px solid #000000;
  border-radius: 15px 50px;
  background-color: rgba(158, 115, 76, 0.85);
  background-size: 100%;
  background-size: 40px auto;
  margin-left: 80px;
  padding: 20px;
  width: 88%;
  height: 70%;
  box-shadow: 12px 12px 2px 1px #000000;
  font-family: verdana;
}

div{
  border: 4px solid #000000;
  border-radius: 15px 50px;
  background-color: rgba(158, 115, 76, 0.85);
  background-size: 100%;
  background-size: 40px auto;
  margin-left: 80px;
  padding: 20px;
  width: 88%;
  height: 70%;
  box-shadow: 12px 12px 2px 1px #000000;
  font-family: verdana;
}

br{
  margin: 20px;
}

li{
  list-style-image: url("../img/pw_IpW_icon.ico");
}
