div{
  display: inline-block;
  background-color: #0074CF;
  padding: 20px;
}

div.n1{
  border-radius: 25px;
  border: 2px solid;
}

div.n2{
  border-radius: 15px 50px;
  background: linear-gradient(#e66465, #9198e5);
}

div.n3{
  border: 2px solid;
  background-image: radial-gradient(red 5%, green 15%, blue 60%);
}

div.n4{
  border-radius: 15px;
  border: 2px solid;
  background: repeating-radial-gradient(yellow 20%, red 40%);
}

div.n5{
  border-radius: 50px 20px;
  transition-property: color, background-color;
  transition-timing-function: linear;
  transition-duration: 0.1s;
}

div.n5:hover{
  color: #cee1ff;
  background-color: #000000;
}

div.n6{
  transform: translate(0px,50px);
}

div.n7{
  transform: rotate(20deg);
}

div.n8{
  transform: scale(1.1,1.1);
}

div.n9{
  transform: skew(10deg,10deg)
}
