html {
background: url(../img/pubg.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-font-smoothing: antialiased !important;
text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1, h1 span{
  text-align: center;
  font-size: 48px;
  font-family: helvetica, impact, fantasy, sans-serif, overpass, georgia, arial;
  color: #F37B00;
}

h2{
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 48px;
  font-family: helvetica;
  color: #F37B00;
}

li.class{
  display: inline;
}

nav{
  text-align: center;
  border-radius: 25px;
  border: 4px solid #000000;
  background-color: #000000;
  background-size: 100%;
  background-size: 40px auto;
  margin-left: 80px;
  padding: 20px;
  width: 88%;
  height: 70%;
}

a:link, a:visited{
  color: #FFFFFF;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition-property: color, background-color;
  transition-timing-function: linear;
  transition-duration: 0.1s;
}

a:hover {
  color: #F37B00;
}

section{
  border: 4px solid #000000;
  border-radius: 15px 50px;
  background-color: rgba(158, 115, 76, 0.85);
  background-size: 100%;
  background-size: 40px auto;
  margin-left: 80px;
  padding: 20px;
  width: 88%;
  height: 70%;
  box-shadow: 12px 12px 2px 1px #000000;
  font-family: verdana;
}

div{
  border: 4px solid #000000;
  border-radius: 15px 50px;
  background: linear-gradient(#f6f3ed, #707070);
  background-size: 100%;
  background-size: 40px auto;
  margin-left: 80px;
  padding: 20px;
  width: 88%;
  height: 70%;
  box-shadow: 12px 12px 2px 1px #000000;
  font-family: verdana;
}

hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #000000;
  border-width: 0 0px 2px 0px;
  border-radius: 30px;
}

table, td, th{
  margin: auto;
  border:2px solid;
  background-color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

td{
  text-align: left;
}

table{
  border-radius: 25px;
  background-color: #000000;
}

br{
  margin: 20px;
}

img.logo {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}

header{
  background: linear-gradient(to bottom right,#110035, #000000);
  border-radius: 15px / 50px;
}
